*~
/autom4te.cache
/src/server/autom4te.cache
/src/client/autom4te.cache
/src/fe/autom4te.cache

tags

#Need if someone does an in-source configure/build
Makefile
config.h
config.log
config.status
libtool
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.so
spindle_bootstrap
spindle
spindle_logd
spindled_logd
libstdc++.a
spindle_be
libtest*.c
libgenerator
runTests
test_driver
test_driver_libs
run_driver
run_driver_rm
preload_file_list
build
