AuthType=auth/munge
DbdAddr=slurm-db
DbdHost=slurm-db
SlurmUser=slurm
DebugLevel=4
LogFile=/var/log/slurm/slurmdbd.log
PidFile=/var/run/slurmdbd/slurmdbd.pid
StorageType=accounting_storage/mysql
StorageHost=slurm-mariadb
StorageUser=slurm
